# Use config from the root
root = true

[*.sln]
# Common settings
charset = utf-8-bom
indent_style = tab
end_of_line = crlf
insert_final_newline = true

[*.csproj]
# Common settings
charset = utf-utf-8-bom
indent_style = space
indent_size = 2
end_of_line = crlf
insert_final_newline = true

[*.cs]
# Common settings
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
# Formatting settings
csharp_space_after_cast = true
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
# Codestyle settings
csharp_style_var_when_type_is_apparent = true    # IDE0008
csharp_style_expression_bodied_accessors = false # IDE0027
dotnet_style_namespace_match_folder = false      # IDE0130
dotnet_diagnostic.IDE0130.severity = none        # IDE0130
